* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  display: flex;
  background: #f4f6f8;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #232f3e;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.sidebar ul li:hover,
.sidebar .active {
  background: #37475a;
}

/* Main */
.main {
  flex: 1;
}

/* Navbar */
.navbar {
  padding: 15px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.navbar input {
  width: 300px;
  padding: 8px;
}

/* Cards */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Responsive */
@media(max-width: 768px) {
  .sidebar {
    display: none;
  }

  .navbar input {
    width: 100%;
  }
}